<div class="OLSKLanding OLSKCommonCard">

<div>
	<span class="OLSKLandingHeading"><%= OLSKLandingHeadingText %></span>
	<p class="OLSKLandingBlurb"><%= OLSKLandingBlurbText %></p>
	<span class="OLSKLandingAction"><%= OLSKLandingActionText %></span>
</div>

</div>
