<div class="OLSKLanding OLSKCommonCard">

<div>
	<span class="OLSKDecorLandingHeading"><%= OLSKLandingHeadingText %></span>
	<p class="OLSKDecorLandingBlurb"><%= OLSKLandingBlurbText %></p>
	<a class="OLSKDecorPressCall" href="<%= OLSKLandingActionHref %>"><%= OLSKLandingActionText %></a>
</div>

</div>
