<div class="OLSKLanding OLSKCommonCard">

<div>
	<span class="OLSKLandingHeading"><%- OLSKLandingHeadingText %></span>
	<p class="OLSKLandingBlurb"><%= OLSKLandingBlurbText %></p>
	<a class="OLSKLandingAction OLSKDecorPress OLSKDecorPressCall" href="<%= OLSKLandingActionHref %>"><%= OLSKLandingActionText %></a>
</div>

</div>
